:root {
  --gap: 5px;
  --margin: 15px;
  --padding: 15px;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  min-height: 100dvh;
}

#content {
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: grey;
}

#content header {
  padding: var(--padding);
  background-color: rgb(0, 191, 255);
}

#content #todoList {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 200px));
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  background-color: gainsboro;
  min-height: 100%;
}

#todoListCard {
  gap: var(--gap);
  border-radius: 10px;
  margin: var(--margin);
  padding: var(--padding);
  border: 1px black solid;
  display: grid;
}

#todoListCard button {
  width: 100%;
  border-radius: 5px;
  padding: 1ch;
  border: 0px;
  display: flex;
}

#todoListCard #taskEl {
  display: grid;
  gap: 5px;
  grid-template-columns:
    12px 1fr min-content;
}

#taskEl #dashed {
  text-decoration: line-through;
}

#newTask {
  border-style: none;
  background-color: transparent;
  color: rgb(16, 182, 118);
}

#newTask:hover {
  color: rgba(16, 182, 118, 0.53);
}

#taskEl #del {
  border-style: none;
  background-color: transparent;
  color: red;
}

#taskEl #del:hover {
  color: rgba(255, 0, 0, 0.429);
}

#popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.539);
  position: absolute;
}

form {
  gap: var(--gap);
  border-radius: 10px;
  margin: var(--margin);
  padding: var(--padding);
  display: grid;
  align-items: center;
  background-color: gainsboro;
}

footer {
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 35, 35);
  color: gainsboro;
}
