* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  background-color: grey;
}

#content header {
  background-color: blue;
}

#content #todoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background-color: gainsboro;
  min-height: 100%;
}

#todoListCard {
  max-width: 200px;
  border: 1px black solid;
  display: grid;
}

#popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.388);
  position: absolute;
}

form {
  gap: 5px;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  display: grid;
  align-items: center;
  background-color: grey;
}

#content #content footer {
  background-color: black;
}
