:root {
  --gap: 5px;
  --margin: 15px;
  --padding: 15px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr 100px;
  background-color: grey;
}

#content header {
  padding: var(--padding);
  background-color: rgb(0, 191, 255);
}

#content #todoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  background-color: gainsboro;
  min-height: 100%;
}

#todoListCard {
  gap: var(--gap);
  border-radius: 10px;
  margin: var(--margin);
  padding: var(--padding);
  max-width: 200px;
  border: 1px black solid;
  display: grid;
}

#todoListCard button {
  border-radius: 5px;
  padding: 1ch;
  border: 0px;
  display: flex;
}

#popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.539);
  position: absolute;
}

form {
  gap: var(--gap);
  border-radius: 10px;
  margin: var(--margin);
  padding: var(--padding);
  display: grid;
  align-items: center;
  background-color: gainsboro;
}

#content #content footer {
  background-color: black;
}
